
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .products img {
    width: 100%;
  }
  
  .product {
    padding: 40px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
  }
  
  header {
    background-color: pink;
    height: 70px;
    padding-top: 20px;
  }


  .view_product{
    font-size: 1.6rem;
    background-color: white;
    color: #928777;
    border: 2px solid #928777;
    border-radius: 1rem;
    transition-duration: 0.4s;
  }

  .view_product:hover{
    background-color: #928777; 
    color: white;
  }

  .view_cart{
    font-size: 1.6rem;
    background-color: white;
    color: rgb(141, 141, 163);
    border: 2px solid rgb(141, 141, 163);
    border-radius: 1rem;
    transition-duration: 0.4s;
  }

  .view_cart:hover{
    background-color: rgb(141, 141, 163);
    color: white;
  }